Checks: >-
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|.*/src)/'
FormatStyle: file
ExtraArgs:
  - --std=c++20
